extends layout.pug

block hero
  section.hero.is-dark.is-bold
    .hero-body
      .container
        h1.title Octolion Shop
        h2.subtitle Find the best products a the best price

block content
  .container(style='flex: 1; padding: 50px;')
    .columns.is-multiline.is-centered
      each product in productsMocks
        column.is-one-quarter(style='margin: 10px;')
          .card
            .card-image
              figure.image(style='height: 190px; width: 300px')
                img(src=product.image style='height: 100%; object-fit: cover')
            .card-content
              h1.title= product.name
              .button.is-fullwidth.is-primary
                span.icon
                  i.fas.fa-shopping-cart
                span Add to cart
                  strong= ` ${product.price} USD`